In [100]:
import pandas as pd

In [101]:
# read in the csv file as a pandas dataframe
bikes = pd.read_csv('london_merged.csv')

In [102]:
# explore data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [103]:
bikes.shape

(17414, 10)

In [104]:
# count the unique values in the weather codes col
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [105]:
# count the unique values in the seasons col
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [106]:
# specifying the col names as I want them
new_cols_dict = {
    'timestamp' : 'Time',
    'cnt' : 'Count',
    't1' : 'Temp_real_F',
    't2' : 'Temp_feels_like_F',
    'hum' : 'Humidity_percent',
    'wind_speed' : 'Wind_speed_mph',
    'weather_code' : 'Weather',
    'is_holiday' : 'is_holiday',
    'is_weekend' : 'is_weekend',
    'season' : 'Season'
}

In [107]:
# renaming the cols to the specified names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [108]:
#changing humidity values to percent
bikes.Humidity_percent = round(bikes.Humidity_percent/100, 2)

In [109]:
# creating a season dictionary to change numbers to season name
season_dict ={
    '0.0' : 'Spring',
    '1.0' : 'Summer',
    '2.0' : 'Fall',
    '3.0' : 'Winter'
}

In [110]:
# creating a weather dictionary to name weather instead of int
weather_dict = {
    '1.0' : 'Clear',
    '2.0' : 'Scattered Clouds',
    '3.0' : 'Broken Clouds',
    '4.0' : 'Cloudy',
    '7.0' : 'Rain',
    '10.0' : 'Rain with thunderstorm',
    '26.0' : 'Snowfall'
}

In [111]:
# change the seasons col data type 
bikes.Season = bikes.Season.astype('str')

# mapping the values of int to str
bikes.Season = bikes.Season.map(season_dict)

In [112]:
# change the weather col data type 
bikes.Weather = bikes.Weather.astype('str')

# mapping the values of int to str
bikes.Weather = bikes.Weather.map(weather_dict)

In [113]:
# check dataframe
bikes.head()

,Time,Count,Temp_real_F,Temp_feels_like_F,Humidity_percent,Wind_speed_mph,Weather,is_holiday,is_weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,0.93,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.93,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.96,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.00,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.93,6.5,Clear,0.0,1.0,Winter

In [114]:
 # change from Cel to Far

bikes['Temp_real_F'] = bikes['Temp_real_F'].apply(lambda x: round(x * 1.8 + 32))

In [115]:
bikes.head()

,Time,Count,Temp_real_F,Temp_feels_like_F,Humidity_percent,Wind_speed_mph,Weather,is_holiday,is_weekend,Season
0,2015-01-04 00:00:00,182,37,2.0,0.93,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,37,2.5,0.93,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,36,2.5,0.96,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,36,2.0,1.00,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,36,0.0,0.93,6.5,Clear,0.0,1.0,Winter

In [116]:
# change from Cel to Far

bikes['Temp_feels_like_F'] = bikes['Temp_feels_like_F'].apply(lambda x: round(x * 1.8 + 32))

In [117]:
bikes.head()

,Time,Count,Temp_real_F,Temp_feels_like_F,Humidity_percent,Wind_speed_mph,Weather,is_holiday,is_weekend,Season
0,2015-01-04 00:00:00,182,37,36,0.93,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,37,36,0.93,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,36,36,0.96,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,36,36,1.00,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,36,32,0.93,6.5,Clear,0.0,1.0,Winter

In [118]:
# kph to mph 
bikes['Wind_speed_mph'] = bikes['Wind_speed_mph'].apply(lambda x: round(x *0.6214))

In [119]:
bikes.head()

,Time,Count,Temp_real_F,Temp_feels_like_F,Humidity_percent,Wind_speed_mph,Weather,is_holiday,is_weekend,Season
0,2015-01-04 00:00:00,182,37,36,0.93,4,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,37,36,0.93,3,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,36,36,0.96,0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,36,36,1.00,0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,36,32,0.93,4,Clear,0.0,1.0,Winter

In [121]:
bikes.to_excel('bikes_final.xlsx', sheet_name='Data')